body {
    background-color: #1d3e81;
    color: #E8EFF0;
    text-align: center;
}
img {
    width: 50%;
}
a {
    color: #E8EFF0;
}

a.backButton {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    text-decoration: none;
}

/* // Your code here */
@media print {
    img {
        width: 100%;
    }

    body {
        background-color: white;
    }

    p.notPrinted {
        display: none;
    }

    p {
        transform: translate(0, -45px);
    }

    h1 {
        position: absolute;
        top: 15px;
        left: 0;
        right:0;
        
    }

    a.backButton {
        display: none;
    }
}
